<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book "N" go</title>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="icons8-duty-free-48.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Glory:wght@592&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"
        integrity="sha512-3J8teBiHrSyaaRBajZyIEtpDsXdPq1gsznKWIVb5CnorQuFhjWGhWe54z8YNnHHr7MZuExb9m5kvf964HiT1Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
    <div class="hero">
        <header class="header">
            <div class="left">
                <img src="Go_Travel_Logo_600x600_crop_center-removebg-preview.png" alt="">
            </div>
            <div class="mid">
                <!-- navigation bar -->
                <ul class="navbar">
                    <li> <a href="#" class="active">Home</a></li>
                    <li> <a href="/Trips/Trips.html">Trips</a></li>
                    <li> <a href="contact.html">Conact Us</a></li>
                    <li> <a href="#ABT">About Us</a></li>
                </ul>
            </div>
            <div class="right">
                <button class="btn"><a href="Login.html" style="text-decoration: none;color: black"> Log in</a></button>
                <button class="btn"><a href="Login.html" style="text-decoration: none;color: black">Sign in</a></button>
            </div>
        </header>

        <div class="main">
            <p>Are you guys waiting
                for a good time ?</p>
        </div>
        <a href="/Trips/Trips.html" class="bookbtn">Discover</a>
    </div>




    </div>
    <div class="text">
        <p>What we are! <span class="typing"></span></p>

        <p style="color:black">Every problem between you and your <br> Trip is now no more</p>
    </div>

    <div class="about-section" id="ABT">
        <h1>About Us</h1>
        <h3>
            <p>We are the your one stop <span>Destination</span> to find your <span>Destination </span></p>
        </h3>
        <h4>
            <p>So What Are You waiting for enroll in the trip</p>
        </h4>
    </div>




    <script>
        // Typing ...
        var typed = new Typed(".typing", {
            strings: ["Your Travel adviser", "Your Hotel planner", "Your Ticket bookers"],
            typeSpeed: 100,
            backSpeed: 60,
            loop: true
        });
    </script>
</body>

</html>